* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}
*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 20px;
}
.videos {
    margin-left: 92px;
}
.videos__content {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 15px;
}