.category {
    padding: 10px;
    margin-left: 92px;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.category__item {
    padding: 8px 18px;
    font-weight: bolder;
    background-color: #f2f2f2;
    border-radius: 10px;
    cursor: pointer;
}
.category__item:hover {
    background-color: #e8e8e8;
}